<!DOCTYPE html>
<html>
    <!--template from CartoDB Map Academy Tutorial Lesson 3-->
    <!--ALL CSS FROM CARTDB MAP ACADEMY TUTORIAL LESSON 3-->
    <head>
        <title>
            Mapping Micro Philly
        </title>

        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <link rel="shortcut icon" href="http://cartodb.com/assets/favicon.ico" />

        <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.14/themes/css/cartodb.css" type="text/css" />
        <link rel="stylesheet" href="http://academy.cartodb.com/css/cdbui.css" type="text/css" />
        <!--Jquery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!--<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" />-->
        <!--May not need the actual library for jqueryui-->
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="mappingmicromap.css" type="text/css" />

        <style type="cartocss/html" id="simple">
          #location {
            marker-fill-opacity: 0.9;
            marker-line-color: #FFF;
            marker-line-width: 1.5;
            marker-line-opacity: 1;
            marker-placement: point;
            marker-type: ellipse;
            marker-width: 10;
            marker-fill: #FF6600;
            marker-allow-overlap: true;
          }
        </style>
        <style type="cartocss/html" id="county">
        #pa_counties_clip, #tl_2010_34_county10, #tl_2010_10_county10 {
          polygon-fill: #FFFFFF;
          polygon-opacity: 0;
          line-color: #6E6EFF;
          line-width: 2;
          line-opacity: .3;
        }
        </style>

    </head>
    <body>
        <div id="map"></div>
        <div id="infowindow">
        </div>
        <div id="sql" class="layer_selector">
            <!--FIX THE MENU TO WORK FOR ALL SCREEN SIZES!!!!!!!!!!!!!!!!!!!!!!!!!!-->
            <div id="sql-header">
              <p>Filter by Type</p>
              <input id="selectall" type="checkbox" data-urlid="all">Show All<br>
              <button id="deselect">Deselect All</button><br>
            </div>
            <div id="category-menu" class="filter-menu">
              <h3 class="filter-category"><a href="#">Consulting</a></h3>
              <div>
                <input type="checkbox" data=" t.type='1-on-1 Consulting'" data-urlid = "a">1-on-1 Consulting<br>
                <input type="checkbox" data=" t.type='Group Consulting'" data-urlid = "b">Group Consulting<br>
                <input type="checkbox" data=" t.type='Relocation'" data-urlid = "c">Relocation<br>
              </div>
              <h3 class="filter-category"><a href="#">Directory</a></h3>
              <div>
                <input type="checkbox" data=" t.type='Directory'" data-urlid = "d">Directory<br>
              </div>
              <h3 class="filter-category"><a href="#">Financial Services</a></h3>
              <div>
                <input type="checkbox" data=" t.type='Grants'" data-urlid = "e">Grants<br>
                <input type="checkbox" data=" t.type='Kiva Zip Trustee'" data-urlid = "f">Kiva Zip Trustee<br>
                <input type="checkbox" data=" t.type='Loan Intermediary'" data-urlid = "g">Loan Intermediary<br>
                <input type="checkbox" data=" t.type='Microloans'" data-urlid = "h">Microloans<br>
                <input type="checkbox" data=" t.type='Midsize Loans'" data-urlid = "i">Midsize Loans<br>
                <input type="checkbox" data=" t.type='Regulatory Help'" data-urlid = "j">Regulatory Help<br>
                <input type="checkbox" data=" t.type='Savings Program'" data-urlid = "k">Savings Programs<br>
                <input type="checkbox" data=" t.type='Seed Capital'" data-urlid = "l">Seed Capital<br>
              </div>
              <h3 class="filter-category"><a href="#">Networking</a></h3>
              <div>
                <input type="checkbox" data=" t.type='Group Network'" data-urlid = "m">Group Network<br>
                <input type="checkbox" data=" t.type='Networking Events'" data-urlid = "n">Networking Events<br>
              </div>
              <h3 class="filter-category"><a href="#">Training</a></h3>
              <div>
                <input type="checkbox" data=" t.type='Classes'" data-urlid = "o">Classes<br>
                <input type="checkbox" data=" t.type='Financial Literacy'" data-urlid = "p">Financial Literacy<br>
                <input type="checkbox" data=" t.type='Workshops'" data-urlid = "q">Workshops<br>
              </div>
              <h3 class="filter-category"><a href="#">Work Space</a></h3>
              <div>
                <input type="checkbox" data=" t.type='Incubator'" data-urlid = "r">Incubator<br>
                <input type="checkbox" data=" t.type='Relocation'" data-urlid = "s">Relocation<br>
                <input type="checkbox" data=" t.type='Work Space'" data-urlid = "t">Work Space<br>
              </div>
            </div>
        </div>
        <div id="area_served-form">
          <p>Type in your Zip Code to see which<br>
             organizations serve you!</p>
          <form action="javascript:void(0);" id="actual-form">
            <input id="zip-field" type="text">
            <input id="area-submit" type="submit">
          </form>
          <button id="reset-zip">Reset Zip Code</button>
          <div id="form-feedback">
          </div>
        </div>

        <!--below are templates that are used to create the html for the infowindows using underscore's templating engine-->
        <script type="template/text" id="info-template">
          <p><!--Number of locations at this point: <%=length%>-->
          <% if (length>1) {
            print("There are " + length + " locations at this point.");
          }%>
          </p>
          <span><% if (length > 1) {
            print("<img src=\"cancel-circle.png\" alt=\"exit\" width=\"16px\" height=\"16px\"/>");
          } else {
            print("<img src=\"cancel-circle-white.png\" alt=\"exit\" width=\"16px\" height=\"16px\"/>");
          }%></span> <!--icons from https://icomoon.io-->
          <%if (length < infoTabsAllowed && length > 1) {
            print("<div id=\"tabrow\">");
            for (i=0; i<length; i++) {
              print("<span data=\""+ i + "\" id=\"tab" + i + "\" class=\"info-tab\">location " + (i + 1) + " </span>");
            }
            print("</div>");
          } else if(length > 1) {
            print("<div><p>Zoom in to see them individually.</p></div>");
          }%>
          <div id="info-body">
          </div>
        </script>
        <script type="template/text" id="info-body-template">
          <h4><%=name%></h4>
          <%=address%> <%=city%>, <%=state%> <%=zipcode%><br>
          <% if (phone_number != "") {print("<div>Phone: " + phone_number + "</div>");}%>
          <div><a href="mailto:<%=email%>"><%=email%></a></div>
          <a href="<%=link%>"><%=link%></a>
          <div id="mission">
          <div><button id="toggle-mission">Mission Statement</div>
          <div id="full-statement"> <%=mission%> </div>
          </div>
        </script>

        <!-- include cartodb.js library -->
        <script src="http://libs.cartocdn.com/cartodb.js/v3/3.14/cartodb.js" type="text/javascript"></script>
        <!--code source below-->
        <script src="mappingmicromap.js" type="text/javascript"></script>

    </body>
</html>
