
      <link rel="shortcut icon" href="http://cartodb.com/assets/favicon.ico" />

      <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.14/themes/css/cartodb.css" type="text/css" />
      <link rel="stylesheet" href="http://academy.cartodb.com/css/cdbui.css" type="text/css" />
      <!--Jquery-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!--<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" />-->
      <!--May not need the actual library for jqueryui-->

      <style type="cartocss/html" id="simple">
        #location {
          marker-fill-opacity: 0.9;
          marker-line-color: #FFF;
          marker-line-width: 1.5;
          marker-line-opacity: 1;
          marker-placement: point;
          marker-type: ellipse;
          marker-width: 18;
          marker-fill: #A62011;
          marker-allow-overlap: true;
        }
      </style>
      <style type="cartocss/html" id="county">
        #pa_counties_clip, #tl_2010_34_county10, #tl_2010_10_county10 {
          polygon-fill: #FFFFFF;
          polygon-opacity: 0;
          line-color: #1197A6;
          line-width: 2;
          line-opacity: .3;
        }
      </style>
      <style>
      html, body, #map {
          height: 100%;
          padding: 0;
          margin: 0;
      }

      .cartodb-logo {
        /*using !important to override the 1,000,000 zindex the logo has by default*/
        z-index: 100 !important;
      }

      #map {
        height: 600px; height: 100vh;
      }

      body, #deselect {
        font-family: Lato, Verdana, Helvetica;
        font-size: .9em; font-size: 18px;
        color:#444;
      }

      /*taken from the Back To Top module for consistency*/
      #gotobot {
        display: none;
      }

      #sql, #area_served-form, #infowindow {
        z-index: 1;
      }

      #area_served-form {
        padding: 7px 15px;
      }

      .layer_selector {
        text-align: center;
      }

      #infowindow {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 457px;
        display: none;
        background: rgba(255,255,255,0.9);
        border: 1px solid #999;
        border-radius:  4px;
        padding: 2px;
        font-size: 1em;
        overflow-y: auto;
      }

      #infowindow > p {
        display: inline;
      }

      /* tab styling from https://css-tricks.com/better-tabs-with-round-out-borders/ */
      .info-tab {
        background: #EEE;
        border: 1px solid #999;
        margin: 0px 0px;
        padding: 2px 10px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
      .info-tab:hover {
        cursor: pointer;
      }
      .info-selected {
        background: #FFF;
        color: #000;
        border-bottom: 1px solid #FFF;
        z-index: 2;
      }
      #tabrow {
        margin: 0;
        margin-top: 4px;
        padding: 0;
        border-bottom: 1px solid #999;
        z-index: 1;
      }

      #infowindow > span {
        width: 18px;
        height: 18px;
        border-radius: 9px;
        float: right;
        position: absolute;
        top: 8px;
        right: 5px;
      }

      #infowindow > span:hover {
        cursor: pointer;
      }

      #info-body {
        color: #000;
        padding: 4px;
      }

      #info-body > h4 {
        padding: 5px 0px;
        border: 1px solid #000028;
        border-radius: 5px;
        text-align: center;
        color: #FFF;
        background-color: rgba(0,0,51,.9);
        margin: 3px 0px;
        font-size: 120%;
      }

      #full-statement, #small-statement {
        margin: 3px auto;
        border-radius: 4px;
        border: 1px solid #999;
        padding: 4px;
        cursor: pointer;
      }

      #sql-header, #area_served-form {
        background: rgba(255,255,255,0.9);
        border-radius: 5px;
        border: 1px solid #999;
      }

      #sql-header {
        margin-top: 1.5vh;
        padding: 0;
      }

      #sql-header > p {
          padding: 7px 15px;
          border-bottom: 1px solid #999;
      }

      #deselect {
        padding: 5px 5px;
      }

      #area-submit, #reset-zip {
        padding: 2px;
        font-family: inherit;
        cursor: pointer;
        margin: 0 auto;
      }

      /*Perhaps a button selector would be best here*/
      button, #area-submit {
        background-color: #EEE;
        border: 1px solid #999;
        border-radius: 3px;
        margin-bottom: 5px;
        color: #444;
      }

      #reset-zip {
        padding: 4px;
      }

      .filter-menu {
        padding: 1px 1px;
      }

      .filter-menu > div {
        background: rgba(255,255,255,0.9);
        padding: 1px 1px;
        border: 1px solid #999;
        border-radius: 3px;
        text-align: left;
      }

      .filter-menu > h3 {
        background: rgba(238,238,238,0.9);
        border: 1px solid #999;
        border-radius: 3px;
        margin: 3px 0px;
        padding: .5vh;
        text-align: center;
        cursor: pointer;
      }

      .filter-menu > h3:hover {
        background: rgba(170,170,170,.9);
      }

      .filter-menu > h3:hover > a {
        color: #222;
      }

      .filter-menu > h3 > a {
        text-decoration: none;
        color: #444;
      }

      /*HACKY SOLUTION FOR GETTING THINGS TO FORMAT IN THE INFOWINDOW*/
      #hide-filters {
        position: absolute;
        bottom: 20px;
        right: 20px;
        z-index: 2;
      }
      .hidden {
        display: none;
      }

      #infowindow.thingshidden {
        right: 50px;
      }

      #menu-pop {
        display: none;
      }

      #side-filters {
        overflow-y: scroll;
      }

      @media only screen and (min-width: 769px) {
        #map {
          height: 650px;
        }
        #side-filters {
          height: 650px;
          display: block;
        }
        .layer_selector, #area_served-form {
          margin-right: 6px;
        }
        #infowindow {
          max-height: 650px;
        }
      }

      @media only screen and (max-width: 768px) {

        #gotobot {
          background: #f7c245;
          border: 1px solid ##f7c245;
          border-radius: 5px 5px 5px 5px;
          top: 20px;
          color: #333333;
          cursor: pointer;
          display: block;
          height: 30px;
          line-height: 30px;
          padding: 5px 10px;
          position: fixed;
          right: 10px;
          text-align: center;
          z-index: 1;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          font-size: 70%;
          z-index: 1000;
        }

        #infowindow {
          position: fixed;
          right: 0;
          top: 0;
          width: 100vw;
          min-height: 62vh;
          max-height: 100vh;
          background: rgba(255, 255, 255, 1);
          z-index: 2000;
        }
        #menu-pop, #side-filters {
          /*-moz-box-shadow:    -2px 0 8px #777;
          -webkit-box-shadow: -2px 0 8px #777;
          box-shadow:         -2px 0 8px #777;*/
        }

        #block-block-44 {
          visibility: hidden;
        }

        #side-filters {
          visibility: visible;
          display: none;
          position: fixed;
          top: 0px;
          right: 0px;
          height: 100vh;
          background: rgba(255, 255, 255, 1);
          border-left: 1px solid black;
          padding: 5px;
          z-index: 1500;
        }
        #menu-pop {
          display: inline;
          position: fixed;
          right: 0px;
          top: 45vh;
          z-index: 1501;
          background: rgba(100,100,100,1);
          color: white;
          border: 1px solid black;
          padding: 10px;
          font-weight: bold;
          border-radius: 4px;
        }
      }
      </style>

      <div id="gotobot">v</div>

    <div id="menu-pop">
      &lt; <br>
      &lt;
    </div>

    <div style="position:relative;">
      <div id="infowindow">
      </div>
    </div>
    <div id="map"></div>


      <!--below are templates that are used to create the html for the infowindows using underscore's templating engine-->
      <script type="text/template" id="info-template">
        <p><!--Number of locations at this point: <%=length%>-->
        <% if (length>1) {
          print("There are " + length + " locations at this point.");
        }%>
        </p>
        <span><% if (length > 1) {
          print("<img src=\"http://ds.haverford.edu/mappingmicrofinance_map/MappingMicrofinancePhilly/cancel-circle.png\" alt=\"exit\" width=\"22px\" height=\"22px\"/>");
        } else {
          print("<img src=\"http://ds.haverford.edu/mappingmicrofinance_map/MappingMicrofinancePhilly/cancel-circle-white.png\" alt=\"exit\" width=\"22px\" height=\"22px\"/>");
        }%></span> <!--icons from https://icomoon.io-->
        <%if (length < infoTabsAllowed && length > 1) {
          print("<div id=\"tabrow\">");
          for (i=0; i<length; i++) {
            print("<span data=\""+ i + "\" id=\"tab" + i + "\" class=\"info-tab\">location " + (i + 1) + " </span>");
          }
          print("</div>");
        } else if(length > 1) {
          print("<div><p>Zoom in to see them individually.</p></div>");
        }%>
        <div id="info-body">
        </div>
      </script>
      <script type="text/template" id="info-body-template">
        <h4><%=name%></h4>
        <%=address%> <%=city%>, <%=state%> <%=zipcode%><br>
        <% if (phone_number != "") {print("<div>Phone: " + phone_number + "</div>");}%>
        <div><a><%=email%></a></div>
        <a target="_blank" href="<%=link%>"><%=link%></a>
        <div id="mission">
        <div id="small-statement"><%=small%></div>
        <div id="full-statement" class="hidden"> <%=mission%> </div>
        </div>
      </script>

      <!-- include cartodb.js library -->
      <script src="http://libs.cartocdn.com/cartodb.js/v3/3.14/cartodb.js" type="text/javascript"></script>
      <!--code source below-->
      <script type="text/javascript">
      (function() {
      infoTabsAllowed = 5; //Actually the amount of tabs allowed + 1

      //Function to create a menu. Taken from http://jsfiddle.net/DkHyd/ I AM NOT SURE WHO WROTE THIS CODE
      $.fn.togglepanels = function(){
        return this.each(function(){
          $(this).find("h3")
          .click(function() {
            $(this)
              .find("> .ui-icon").toggleClass("ui-icon-triangle-1-e ui-icon-triangle-1-s").end()
              .next().slideToggle();
            return false;
          })
          .next()
            .hide();
        });
      };

      //Help from http://stackoverflow.com/questions/1251300/how-to-run-two-jquery-animations-simultaneously and
      //http://stackoverflow.com/questions/11021615/jquery-toggle-animate
      //Causes the menu to pop out when menu-pop is clicked, use for mobile
      function popMenu() {
        if ($("#menu-pop").css("right") === "0px") {
          $("#menu-pop").animate({
            right: $('#side-filters').width() + 10
          }, {duration: 200, queue: false})
          .html("&gt; <br> &gt;");
        } else {
          $("#menu-pop").animate({
            right: "0px"
          }, {duration: 200, queue: false})
          .html("&lt; <br> &lt;");
        }
        $("#side-filters").animate({
          width: 'toggle'
        }, {duration: 200, queue: false});
      }

      //The function below causes the cursor to switch to a pointer when hovering over a feature
      //It is by Javi Santana, taken from https://gist.github.com/javisantana/6102814
      function addCursorInteraction(layer) {
              var hovers = [];

              layer.bind('featureOver', function(e, latlon, pxPos, data, layer) {
                hovers[layer] = 1;
                if(_.any(hovers)) {
                  $('#map').css('cursor', 'pointer');
                }
              });

              layer.bind('featureOut', function(m, layer) {
                hovers[layer] = 0;
                if(!_.any(hovers)) {
                  $('#map').css('cursor', 'auto');
                }
              });
            }



      window.onload = function () {

        //Adapted from Drupal Back To Top module, goes to the bottom
        $(window).scroll(function() {
          //Check the viewport size and put in the scroll to bottom button if necessary
          //Code to detect height and width from http://stackoverflow.com/questions/1248081/get-the-browser-viewport-dimensions-with-javascript
          var viewWidth = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
          var viewHeight = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
          if (viewWidth < 769) {
    				if($(this).scrollTop() < 300) {
    					$('#gotobot').fadeIn();
    				} else {
    					$('#gotobot').fadeOut();
    				}
          }
		    });

        $('#gotobot').click(function() {
          $("html, body").bind("scroll mousedown DOMMouseScroll mousewheel keyup", function() {
            $('html, body').stop();
            console.log("Spot 1!");
          });
          $('html,body').animate({ scrollTop: $(document).height() - window.innerHeight }, 1200, 'linear', function() {
            $("html, body").unbind("scroll mousedown DOMMouseScroll mousewheel keyup");
            console.log("Spot 2!");
          });
          console.log("Spot 3!");
          return false;
        });

        //Hide gotobot and show the menus if the window is a certain size
        $(window).resize(function() {
          if (Math.max(document.documentElement.clientWidth, window.innerWidth || 0) > 768) {
            $('#gotobot').css('display','none');
            $('#side-filters').css('display','block');
          } else if ($('#menu-pop').html() !== '&gt; <br> &gt;') {
            $('#side-filters').css('display', 'none');
            $('#gotobot').css('display', 'block');
            $('#menu-pop').css('right', 0)
              .html("&lt; <br> &lt;");
          }
          console.log($('input:focus').length);
        });

        var origSql = "SELECT the_geom_webmercator,cartodb_id,loc_name,address,email,mission,phone_number,city,state,zipcode,the_geom,link " +
                      "FROM location";
        //First get the parameters out of the hash, from http://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript/2880929#2880929
        var urlParams;
        var match,
          pl     = /\+/g,  // Regex for replacing addition symbol with a space
          search = /([^&=]+)=?([^&]*)/g,
          decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
          query  = window.location.hash.substring(1);

        urlParams = {};
        while (match = search.exec(query)) {
           urlParams[decode(match[1])] = decode(match[2]);
        }
        console.log(urlParams);
        //takes the url parameters and updates the hash to represent filter settings
        function updateHash(urlp) {
          newHash = "";
          _.each(urlp, function(val, key, list){
            if(val) {
              newHash = newHash + "&" + key + "=" + val;
            }
          });
          if(newHash === "") {
            newHash = " blank";
          }
          newHash = "#" + newHash.substring(1);
          window.location.hash = newHash;
        }
        //Joins the area_sql and type_sql so that the filters work together
        function finalizeSQL(layer, area_sql, type_sql, urlp) {
          var finalSQL = "";
          if (area_sql != "" && type_sql != "") {
            finalSQL = "SELECT a.the_geom_webmercator,a.cartodb_id,a.loc_name,a.address,a.email,a.mission,a.phone_number,a.city,a.state,a.zipcode,a.the_geom,a.link FROM (" +
                        area_sql + ") AS a JOIN (" + type_sql + ") AS t USING (loc_name)";
          } else if (area_sql === "") {
            finalSQL = type_sql;
          } else {
            finalSQL = area_sql;
          }
          //Change the parameters to represent the current filter situation
          $("input:checked").each(function() {
            urlp[$(this).attr("data-urlid")]="1";
          });
          $("input:checkbox:not(:checked)").each(function() { //http://stackoverflow.com/a/8465833
            urlp[$(this).attr("data-urlid")]="";
          });
          urlp["zip"]=$("#zip-field").val();
          updateHash(urlp);
          console.log(urlp);
          layer.setSQL(finalSQL);
        }

        //Filters to only show areas that intersect with a zipcode when the user puts their info into the window
        function answerForm() {
          zipreg = /^\d{5}(?:[-\s]\d{4})?$/; //from http://stackoverflow.com/questions/2577236/regex-for-zip-code
          var inval = $("#zip-field").val();
          var basesql = "SELECT l.the_geom_webmercator,l.cartodb_id,l.loc_name,l.address,l.email,l.mission,l.phone_number,l.city,l.state,l.zipcode,l.the_geom,l.link,a.the_geom as area_geom " +
                        "FROM location AS l " +
                        "JOIN lookup_loc_area AS looka ON looka.loc_id=l.cartodb_id " +
                        "JOIN area_served AS a ON looka.area_id=a.cartodb_id";
          if (zipreg.test(inval)) {
            inval = inval.substring(0,5);
            var testSQL = 'SELECT bool_or(' + inval + '=zcta5ce::int) FROM  pa_nj_de_zcta5ce';
            var testJSON = $.ajax({type: 'GET', url:'http://haverfordds.cartodb.com/api/v2/sql/?q='+ testSQL, async: false}).responseJSON;
            console.log(testJSON);
            //if the zipcode is not in the database
            if (!(testJSON.rows[0].bool_or)) {
              $("#form-feedback").html("Sorry, we don't have that zip code.");
              return "";
            }
            var newSQL = "SELECT * FROM (" + basesql + ") AS thelayer WHERE ST_Intersects(area_geom, (SELECT the_geom FROM pa_nj_de_zcta5ce WHERE zcta5ce::integer=" + inval+"))";
            $("#form-feedback").html("Here you go!");
            return newSQL;
          } else {
            $("#form-feedback").html("Not a Valid Zip Code");
            return "";
          }
        }

        function createTypeSQL() {
          var sql = "SELECT * FROM location WHERE cartodb_id IN (SELECT loc_id FROM lookup_loc_type WHERE type_id IN (SElECT cartodb_id FROM type AS t";
          if (!($('#selectall').is(":checked")) && $("input:checked").length) {
            //Here selectall is not checked, but there are other checked boxes
            sql = sql + " WHERE";
            $("input:checked").each(function(i) {
              //iterates through the checked boxes to construct the SQL
              sql = sql + $(this).attr("data") + " OR ";
            });
            //deletes the last OR, maybe a better way to do this?
            sql = sql.substring(0,sql.length - 4) + "))";
          } else if (!($("input:checked").length)) {
            //display nothing if there are no boxes checked
            sql = "SELECT * FROM location limit 0";
          } else {
            sql = "SELECT * FROM location"
          }
          return sql;
        }
        // Create layer selector
        function createSelector(layer, urlp) {
            var type_sql = "";
            var area_sql = "";
            //Take the starting URL Parameters and filter the data accordingly
            _.each(urlp, function(val, key, list) {
              if(val) {
                $("[data-urlid=" + key + "]").prop("checked", true);
              }
            })
            if (urlp.zip) {
              if(!$("input:checked").length) {
                $("#selectall").prop("checked", true);
              }
              $("#zip-field").val(urlp.zip);
            }
            $("#actual-form").submit(function() {
              area_sql=answerForm();
              finalizeSQL(layer, area_sql, type_sql, urlp);
            });
            //deselect button functionality
            $("#deselect").click(function() {
              $("input:checked").prop("checked",false);
              sql = "SELECT * FROM location limit 0";
              type_sql = sql;
              finalizeSQL(layer,area_sql,type_sql, urlp);
            });
            //Adds functionality to button to reset zip code filtering
            $("#reset-zip").click(function(){
              area_sql = "SELECT * FROM location";
              $("#zip-field").val("");
              finalizeSQL(layer, area_sql, type_sql, urlp);
            })
            //Selects input tags
            var $options = $(".layer_selector").find("input");
            //Anonymous function for when the checkbox changes
            $options.change(function(e) {
              type_sql = createTypeSQL();
              finalizeSQL(layer, area_sql, type_sql, urlp);
            });
        }

        $("#actual-form > input").keyup(function(e){
          if (e.which != 13) { //only resets the form-feedback if a key besides enter is pressed
            $("#form-feedback").html("");
          }
        });

          // Put layer data into a JS object

          var layerSource = {
                  user_name: 'haverfordds',
                  type: 'cartodb',
                  sublayers: [
                  {
                    sql: "SELECT the_geom_webmercator, cartodb_id FROM pa_counties_clip",
                    cartocss: $("#county").text()
                  },
                  {
                    sql: "SELECT the_geom_webmercator, cartodb_id FROM tl_2010_34_county10",
                    cartocss: $("#county").text()
                  },
                  {
                    sql: "SELECT the_geom_webmercator, cartodb_id FROM tl_2010_10_county10",
                    cartocss: $("#county").text()
                  },
                  {
                      sql: origSql,
                      cartocss: $("#simple").text(),
                      interactivity: "cartodb_id, the_geom_webmercator, address, email, phone_number, mission, the_geom, state, city, loc_name, zipcode, link" // Simple visualization
                  }]
              };

          // Instantiate new map object, place it in 'map' element
          var map_object = new L.Map('map', {
              center: [39.9500,-75.1667], // Philly
              zoom: 9
          });

          // Create a shrunken mission statement
          function createSmallMission(big) {
            var tokenized = big.split(" ", 20);
            var small = tokenized.join(" ");
            if (small != big) {
              small = small + "...<br><a>Click to Expand</a>";
            }
            return small;
          }

          //gets the data for the info window, first all overlapping points must be detected
          //much of this is based on http://zevross.com/blog/2014/05/05/cartodb-handling-infowindows-for-overlapping-features/
          function fillInfowindow(data, lat, sql, markerwidth) {
            var z = map_object.getZoom();
            var c = 40075000; //equatorial circumference of the earth in meters
            var markerrad = markerwidth / 2 + 1; //this is half the marker width plus one pixel to get more than just direct overlaps
            var radius = markerrad * Math.abs(c  * Math.cos(lat * (Math.PI/180)) / Math.pow(2,z + 8));//equation from open street map wiki
            var q = "SELECT * FROM ("+ sql + ") AS thelayer WHERE ST_Distance(the_geom::geography, (SELECT the_geom FROM location WHERE cartodb_id=" + data.cartodb_id + "))<"+ radius +" ORDER BY ST_Distance(the_geom::geography, (SELECT the_geom FROM location WHERE cartodb_id=" + data.cartodb_id + "))";
            $.getJSON('http://haverfordds.cartodb.com/api/v2/sql/?q='+ q, function(datas) {
              //Because the way the join works creates multiple data points with the same name (but different types), these duplicates must be deleted
              //THERE MAY BE A BETTER WAY. Also, if we want to track types then that will have to be updated as the duplicates are deleted
              var noDupes = [];
              _.each(datas.rows, function(ele, ind, list) {
                if (ind === 0 || list[ind].loc_name !== list[ind-1].loc_name) {
                  noDupes.push(list[ind]);
                }
              });
              var address      = _.pluck(noDupes, "address");
              var mission      = _.pluck(noDupes, "mission");
              var email        = _.pluck(noDupes, "email");
              var phone_number = _.pluck(noDupes, "phone_number");
              var state        = _.pluck(noDupes, "state");
              var city         = _.pluck(noDupes, "city");
              var loc_name     = _.pluck(noDupes, "loc_name");
              var zipcode      = _.pluck(noDupes, "zipcode");
              var link         = _.pluck(noDupes, "link");

              var infohtml =_.template($("#info-template").html(), {length: noDupes.length});
              $("#infowindow").html(infohtml);
              $("#infowindow > span").click(function() {
                $("#infowindow").css('display','none');
              });
              //Function for creating a small mission statement that drops down to a larger one

              if(noDupes.length < infoTabsAllowed) {
                var index = 0;
                var small = createSmallMission(mission[index]);
                //At first the tab is set to show the data for the first point in the list, but only if the number of locations at this point is less than the desired amount of tabs to show
                var bodyhtml = _.template($("#info-body-template").html(), {infoTabsAllowed: infoTabsAllowed, name: loc_name[index], address: address[index],
                                                                            email: email[index], mission: mission[index],small: small, phone_number: phone_number[index].replace(/(\d{3})(\d{3})(\d{4})/,"$1-$2-$3"),
                                                                            state: state[index], city: city[index], zipcode: zipcode[index], link: link[index]});
                                                                            //Phone regex from http://stackoverflow.com/questions/8760070/jquery-phone-number-format
                $("#tab0").addClass("info-selected");
                $("#info-body").html(bodyhtml);
                $("#mission").click(function() {
                  $("#small-statement").toggleClass("hidden");
                  $("#full-statement").toggleClass("hidden");
                });
              }
              //When a different tab is clicked this changes the data in the body of the infowindow
              $(".info-tab").click(function() {
                if(!($(this).hasClass("info-selected"))){
                  $(".info-selected").removeClass("info-selected");
                  $(this).addClass("info-selected");
                  index = Number($(this).attr("data"));
                  small = createSmallMission(mission[index]);
                  bodyhtml = _.template($("#info-body-template").html(), {infoTabsAllowed: infoTabsAllowed, name: loc_name[index], address: address[index],
                                                                          email: email[index], mission: mission[index], small: small, phone_number: phone_number[index].replace(/(\d{3})(\d{3})(\d{4})/,"$1-$2-$3"),
                                                                          state: state[index], city: city[index],zipcode: zipcode[index], link: link[index]});
                  $("#info-body").html(bodyhtml);
                  $("#mission").click(function() {
                    $("#small-statement").toggleClass("hidden");
                    $("#full-statement").toggleClass("hidden");
                  });
                }
              });
              $("#infowindow").css('display','inline');
            });
          }
          L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
              attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
          }).addTo(map_object);

          // Add data layers to the map
          cartodb.createLayer(map_object,layerSource)
              .addTo(map_object)
              .done(function(layer) {
                  sublayer = layer.getSubLayer(3);

                  //Setup the filter menu
                  createSelector(sublayer, urlParams);
                  $('#category-menu').togglepanels();

                  //Applies effect of boxes that are checked from the urlParams
                  if($("input:checked").length) {
                    $("input:checked").each(function(){
                      $(this).parent().parent().show();
                      console.log($(this).parent().parent());
                    });
                    finalizeSQL(sublayer, answerForm(), createTypeSQL(), urlParams);
                  }

                  //Setup infowindows
                  sublayer.setInteraction(true);
                  addCursorInteraction(sublayer);
                  sublayer.on('featureClick', function(e, latlng, pos, data) {
                    var subSQL = sublayer.getSQL();
                    fillInfowindow(data, latlng[0], subSQL, 18);
                  });

                  //Create hide-filters button (will probably be removed)
                  $("#hide-filters").click(function() {
                    $("#sql, #area_served-form").toggleClass("hidden");
                    $("#infowindow, #hide-filters").toggleClass("thingshidden");
                    if($("#hide-filters").html() === "Hide Filters") {
                      $("#hide-filters").html("Show Filters");
                    } else {
                      $("#hide-filters").html("Hide Filters");
                    }
                  });

                  //Account for mobile menu
                  $("#menu-pop").click(function() {
                    popMenu();
                  });
              })
              .error(function(err) {
                  console.log("error: " + err);
              });
      };
      })(jQuery);

      </script>
